html{
    background-color: blueviolet;
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    align-self:stretch;
    height: 100%;
}

.esquerda{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
    align-items: center;
    justify-content: center;
}

.esquerda h1{
    margin: 1%;
    font-size: 3em;
}

.esquerda p{
    margin: 0px;
    font-size: 1em;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 40%;
    max-height: 100%;
    padding-left: 3%;
    font-size: 1em;
}

.direita p{
    padding-bottom: 8%;
    font-size: 3em;
    margin: 0px;
}

.direita input{
    width: 70%;
    font-size: 1em;
}

/*####### PAG PERFIL ######*/

.container-perfil{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "menu content"
        "menu content";
    background-color: blue;
    width: 100%;
    height: 100%;
    
}

.container-perfil div{
    background-color: white;
}

.container-perfil div.header {
  grid-area: header;
  text-align: center;
  height: 20%;
}
.container-perfil div.menu {
  grid-area: menu;
  height: 100%;
  margin: 5px;
}
.container-perfil div.content {
  grid-area: content;
  height: 100%;
  margin: 5px;
}